.app {
  display: flex;
  text-align: center;
  height: 450px; }
  .app .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    background-color: #252525; }
    .app .nav__link {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 13px;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      transition: all 0.5s; }
      .app .nav__link:hover {
        background-color: #f9f9f9;
        color: #a60436; }
  .app .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    background-color: #f9f9f9; }
