@import '_helpers.scss';

.app {
  display: flex;
  text-align: center;
  height: 450px;

  .nav {
    @include flex-center;
    width: 15%;
    background-color: $nav-color;

    &__link {

      display: block;
      width: 100%;
      margin-bottom: 20px;
      padding: 13px;
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      transition: all 0.5s;

      &:hover {
        background-color: $bg-color;
        color: $main-color;
      }
    }
  }

  .main {
    @include flex-center;
    width: 85%;
    background-color: $bg-color;
  }
}



