.app {
  text-align: center;
  display: flex;
  height: 450px;
}

.nav {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
}

.nav__link {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 13px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: all 0.5s;
}

.nav__link:hover {
  background-color: #f9f9f9;
  color: #a60436;
}

.main {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.active {
  color: #a60436;
}
